doctype html
html(lang='en')
head
  title exchange rate!
body
  main#main
    h1.ui.center.aligned.header CURRENCY EXCHANGE RATE!
    .ui.container
      //- div
      //-   each employee in employees
      //-     p #{employee.Cur_Name_Eng}
footer
  p © #{new Date().getFullYear()} My Company
      
  